spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB:eventhub}
    username: ${POSTGRES_USER:eventhub}
    password: ${POSTGRES_PASSWORD:eventhub}

management:
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG